@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --text-color:#3D3D3D;
    --text2-color:#5B5B5D;
    --text2-light-color:#5B5B5D99;
    --primary-color:#E2A353;
    --primary-hover:#c78b3e;
    --body-bg:#F2F2F2;
    --sidepanel-width:256px;
    --muted-color:#A5A1A4;
    --grid-gap:18px;
    --radius: 8px;
    --colorLight:#C3C3C3;
    --testColor:#C3C3C3;
    --table-input-width:100px;
    --dropdown-width:185px;
    --main-height:calc(100dvh - 230px);
    --bs-btn-bg: var(--primary-color) !important;
    --bs-primary:var(--primary-color);
    --green-color: #9FB699;
    --green-hover: #768f70;
    /* --bs-btn-border-color */
}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
    font-size: 24px;
}
.fs-28{
    font-size: 28px;
}
.fs-30{
    font-size: 30px;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-700{
    font-weight: 700 !important;
}
.fw-800{
    font-weight: 800 !important;
}
.fw-900{
    font-weight: 900;
}
.fw-bold{
    font-weight: bold;
}
body{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: var(--body-bg) !important;
    color: var(--text-color);

}
.font-Josefin,.font-josefin,.josefin{
    font-family: "Josefin Sans", sans-serif;
}
.font-Helvetica,.font-helvetica,.helvetica{
    font-family: Helvetica;
}
.wrapper{
    /* min-height: calc(100vh - 54px); */
    /* padding: var(--grid-gap); */
    /* padding-bottom: 0; */
    margin: auto;
}

.text-color{
    color: var(--text-color);
}
.flex-wrapper{
    gap: var(--grid-gap);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-block: 36px;
    padding-inline: 56px;
    padding-bottom: 20px;
   
    .logo-wrapper {
        width: var(--sidepanel-width);
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 0 0 var(--sidepanel-width);
    }
    .header{
        flex: 1;
        height: 80px;
    }
    .sidebar{
        flex: 0 var(--sidepanel-width);
    }
    .main{
        flex: 0;
    }
    .main-wrapper{
        display: flex;
        gap: var(--grid-gap);
    }
}
.overview-page{
    .grid-wrapper{
        grid-template-areas: "logo-wrapper main" "sidebar main" "footer footer";
    }
}
.grid-wrapper{
    margin: auto;
    display: grid;
    grid-template-columns: var(--sidepanel-width) 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "logo-wrapper header" "sidebar main" "footer footer";
    gap: var(--grid-gap);
   
    padding-block: 36px;
    padding-inline: 56px;
    padding-bottom: 20px;
    .logo-wrapper{
        grid-area: logo-wrapper;
    }
    .header{
        grid-area:header;
    }
    .sidebar{
        grid-area:sidebar;
    }
    .main{
        grid-area:main;
    }
   
}
.uk-navbar-nav>li>a{
    color: var(--text-color) !important;
}
.logo-wrapper{
    width: var( --sidepanel-width);
    display: flex;
    align-items: center;
    gap:10px;
}
.main{
    min-height: var(--main-height);
    width: 100%;
}


.header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:var(--grid-gap);
   
    .btn-outline-light{
        border-color: var(--colorLight);
        color: var(--colorLight);
        &:hover{
            border-color: var(--dark);
            color: var(--dark);
        }
    }
}

.mainmenu{
    display: grid;
    grid-template-columns: auto 60px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:40px;
    box-shadow: 4px 4px 4px 0px #00000040;
    background: white;
    border-radius: var(--radius);
  
    .navbar-search{
        width: 52px;
        height: 52px;
    }
    .uk-navbar{
        width: 100%;
    }
    
    .uk-navbar-nav{
        justify-content: space-between;
        width: 100%;
        gap:54px;
        font-weight: 600;
        padding: 2px 5px;
        border-radius: 5px;
        img{
            width: 16px;
        }
       .navlink{
            display: flex;
            align-items: center;
            gap:3px;
            text-transform: uppercase;
            white-space: nowrap;
            min-height: 40px;
            font-size: 16px;
            font-weight: 600;
           
       }
        .icon{
            font-size: 14px;
        }
    }
  
}
.filterDropdown{
    padding: 13px !important;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    min-width: var(--dropdown-width) !important;
    box-shadow: 4px 4px 12px 0px #00000029;
    &::before{
        content: '';
        position: absolute;
        filter: drop-shadow(-0px -1px 1px #00000050);
        bottom: 100%;
        right: auto;
        left: auto;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid #fff;
    }
    .uk-nav{
        padding: 0;
        >li>a{
            font-size: 12px ;
            font-weight: 500;
        }
    }
    
}
table .filterDropdown{
    &::before{
        bottom: 100%;
        right:50%;
        left: auto;
    }
}

.sidebar{
    padding: 20px 30px;
    width: var(--sidepanel-width);
    background: white;
    /* height: 100%; */
    border-radius: var(--radius);
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 4px 4px 4px 0px #00000040;
    position: relative;
    .offset-sidebar{
        padding-top: 60px;
    }
    .notifiaction-icon{
        position: absolute;
        right: 22px;
        top: 24px;
        color: var(--primary-color);
        font-size: 20px;
    }
    .uk-nav{
        a{
            color: var(--text2-color);
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing:1.5px;
        }
        li.uk-active{
            a{
                color: var(--primary-color) !important;
            }
        }
        a.uk-active{
            color: var(--primary-color) !important;
        }
        .uk-nav-sub{
            padding: 0;
            .sub-item.active{
                a{
                    color: var(--text-color) !important;
                }
            }
            a{
                font-size: 14px;
                color: var(--text2-light-color);
            }
        }
    }
}

.copyright{
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background: white;
    height: 54px;
    color: var(--muted-color);
}
.innerBetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.table-parent {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
    position: relative;
}
.my-table{
    .label-text{
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color);
    }
    td{
        white-space: nowrap;
    }
    .flag{
        min-width: 14px;
    }
    .flagDiv{
        padding:10px 10px;
        min-width: 30px;
        img{
            width: 30px;
        }
    }
    .uk-inline{
        max-width: 146px;
        --input-height:32px;
        .uk-input{
            height: var(--input-height);
            border-radius: 5px;
            border-width: 1px;
            border-color: #8E8E8E;
            min-width: var(--table-input-width);
        }
        .uk-form-icon{
            width:var(--input-height) ;
        }
        .uk-form-icon-flip~.uk-input {
            padding-right: var(--input-height) !important;
        }
    }
    
    tbody{
        tr{
            align-items: center;
            vertical-align: middle;
        }
        td{
            padding: 12px 12px;
            vertical-align: middle;
        }
    }
    .imgTable{
        width: 46px;
        height: 30px;
        overflow: hidden;
        display: block;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.paginationWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background: white;
    gap: 10px;
}
.uk-pagination{
    gap: 10px;
    margin: 0;
    li{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 60px;
        padding-right: 5px;
        border-radius: 5px;
        font-size: 12px;
        width: 30px;
        height: 30px;
        border: 1px solid var(--muted-color);
        padding: 0;
        a{
            padding: 10px;
        }
        &.uk-active{
            border: 1px solid var(--primary-color);
        }
    }
}
.pageSize{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    label{
        color: var(--muted-color);
    }
    input{
        max-width: 60px;
        padding-right: 5px;
        border-radius: 5px;
        width: 50px;
        height: 30px;
    }
}
.totalEntries{
    font-size: 12px;
    color: var(--muted-color);
}
.my-table-model{
    position: absolute;
    right:15px;
    top: 78px;
    padding: 60px 36px !important;
    border: 1px solid #C9C9C9;
    background: white;
    box-shadow: 4px 4px 16px 0px #0000001F;
    border-radius: 8px;
    max-width:334px;
    .uk-close{
        --size:28px;
        width: var(--size);
        height: var(--size);
        border-radius: var(--size);
        position: absolute;
        right: 15px;
        top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #D9D9D9;
        color: white;
        &:hover{
            background: #C9C9C9;
            color: white;
        }
    }
    .imgBox img{
        width: 262px;
        height: 176px;
        object-fit: cover;
    }

    .text{
        font-size: 11px;
        font-weight: 400;
        color: #929291;
    }
    .uk-accordion {
        .uk-accordion-title{
            font-size: 16px;
            font-weight: 400;
            color: #373736;
            border-bottom: 1px solid #373736;
            padding-bottom: 10px;
        }
    }
    
    .uk-nav{
        a{
            font-size: 12px;
            font-weight: 400;
            color: #000;
        }
    }
}


.uk-accordion.arrow {
    .uk-accordion-title::before{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M4.219 10.781L2.78 12.22l12.5 12.5l.719.687l.719-.687l12.5-12.5l-1.438-1.438L16 22.562z'/%3E%3C/svg%3E");
    }
    .uk-open>.uk-accordion-title::before{
        transform: rotate(180deg);
    }
    &.arrow-circle{
        .uk-accordion-title::before{
            border:1px solid #D4D4D4;
            border-radius: 50px;
        } 
    }
    
}
.uk-accordion.btmline{
    .uk-accordion-title{
        border-bottom:1px solid #D4D4D4;
        padding-bottom: 20px;
    }
}
.uk-accordion.cstm-padding{
    .uk-accordion-title,.uk-accordion-content{
        padding-inline: 20px;
    } 
}

.artwork-wrapper.uk-grid{
    margin: 0;
    padding: 20px;
    .uk-grid-margin{
        margin: 0;
    }
}
.artwork-wrapper{
    --size-grid-item:277px;
    gap: 23px;
    background: white;
    padding: 20px;
    border-radius: var(--radius);
    &.tileview{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--size-grid-item), 1fr));
    }

    .grid-item{
        position: relative;
        display: grid;
        /* flex: 1 0 var(--size-grid-item); */
        grid-template-columns: 1fr;
        gap: 17px;
        padding: 12px;
        background: #F8F8F8;
        /* max-width: var(--size-grid-item); */
        border-radius: var(--radius);
        border: 1px solid #E3E3E3;
        .img-div{
            height: 144px;
            border-radius: calc(var(--radius) / 2);
            overflow: hidden;
            img{
                object-fit: cover;
               
            }
        }
        .flag{
            position: absolute;
            left: 16px;
            bottom: 16px;
            width: 14px;
        }
        .ul-list{
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 7px;
            li{
                margin: 0;
                font-size: 14px;

            }
        }
    }
}
.spacer-40{
    height:40px;
}
.spacer-50{
    height:50px;
}
.spacer-100{
    height:100px;
}
.overview-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:0 ;
  
    .border{
       display: none;
    }
   
}
@media (max-width: 1199px){
    .overview-item{
        border-bottom: 1px solid #A5A1A4;
    }
}
@media (min-width: 1200px){
    .overview-grid{
        display: grid;
        grid-template-columns: 1fr 5px 1fr;
        grid-template-rows: 1fr 5px 1fr;
        gap:0 ;
        grid-template-areas: 
                        "overview-1 border-vr-1 overview-2" 
                        "border-hz border-hz border-hz" 
                        "overview-3 border-vr-2 overview-4"
        ;
        .overview-1{
            grid-area:overview-1;
        }
        .overview-2{
            grid-area:overview-2;
        }
        .overview-3{
            grid-area:overview-3;
        }
        .overview-4{
            grid-area:overview-4;
        }
        .border{
            display: block;
         }
        .border.vr{
            grid-area:border-vr-1;
            height: 90%;
        }
        .border.vr2{
            grid-area:border-vr-2;
            height: 90%;
        }
        .border.hz{
            grid-area:border-hz;
            width:98%;
        }
    }
}
.overview-item{
   
    padding: 30px;
    .title{
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        color: #5B5B5D;
    }
    table{
        td{
            padding-block: 10px;
            padding-left: 0;
            font-family: Helvetica;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.4px;
            letter-spacing: 0.04em;
            text-align: left;
            white-space: nowrap;
        }
        .uk-select,.uk-input{
            height: 40px;
            padding: 8px 15px 8px 11px;
            gap: 0px;
            border-radius: 8px;
            border: 1.5px solid #A5A1A4;
        }
        .uk-inline{
            width: 100%;
        }
    }

    .info-content{
        font-family: Helvetica;
        text-align: left;
        letter-spacing: 0.04em;
        font-weight: 400;
        font-size: 16px;
        p{
            margin-bottom: 10px;
        }
        b{
            font-weight: 700;
        }
        .link{
            color: var(--primary-color);
            text-decoration: underline;
        }
    }
    .btn{
        min-width: 266px;
        min-height: 44px;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.1px;
        letter-spacing: 0.04em;
    }
}

.link.primary{
    color: var(--primary-color);
    text-decoration: underline;
}

.bg-white-box{
    background: white;
    padding: 20px;
    border-radius: var(--radius);
}

.btn{
    padding: 14px 53px;
    border-radius: 4px !important;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;

    &:hover{
        text-decoration: none;
    }
}
.btn-primary{
    
    --color:var(--primary-color);
    --hover-color:var(--primary-hover);
    --bs-btn-bg: var(--color) !important;
    --bs-btn-border-color:var(--color) !important;
    --bs-btn-hover-bg:var(--hover-color) !important;
    --bs-btn-hover-border-color:var(--hover-color) !important;
}
.btn-green{
    
    --color:var(--green-color);
    --hover-color:var(--green-hover);
    --bs-btn-bg: var(--color) !important;
    --bs-btn-border-color:var(--color) !important;
    --bs-btn-hover-bg:var(--hover-color) !important;
    --bs-btn-hover-border-color:var(--hover-color) !important;
    color: white !important;
}

.chartWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}
.chartDiv{
   
    .chart-canvas,canvas{
        width: 312px;
        height:312px;
        max-width:312px;
        max-height:312px;
    }
    
}
.chartLabel-list{
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 400;

    li{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    .shape{
        --dot-size:20px;
        --color-1:#5B5B5D;
        --color-2:#CE754C;
        --color-3:#F3C96B;
        --color-4:#D4CF7F;
        --color-5:#9FB699;
        display: inline-block;
        background: #ccc;
        width: var(--dot-size);
        height: var(--dot-size);
        border-radius: var(--dot-size);
        &.color-1{
            background: var(--color-1);
        }
        &.color-2{
            background: var(--color-2);
        }
        &.color-3{
            background: var(--color-3);
        }
        &.color-4{
            background: var(--color-4);
        }
        &.color-5{
            background: var(--color-5);
        }
    }

}

.border{
    background:#A5A1A4;
    margin: auto;
    &.hz{
     width:100%;
     height:2px;
    }
    &.vr{
     width:3px;
     height:100%;
    }
 }

 .modal-title{
    font-size: 24px;
    font-weight: 600;
    text-align: center;

 }

.custom-dialog-sm{
    max-width: 754px;
    box-shadow: 4px 4px 32px 0px #00000029;
    border-radius: 12px !important;
}
.custom-dialog {
    box-shadow: 4px 4px 32px 0px #00000029;
    border-radius: 12px !important;
    border: 1px solid #d4d4d4;
}
.uk-modal-dialog.dialog-login{
    width: 100%;
    max-width: 520px !important;
}
.uk-modal-dialog.dialog-signup{
    max-width: 700px !important;
    width: 100%;
}

.form-inline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
    .label-text{
        flex-basis: 145px;
    }
    .form-control{
        flex-grow: 1;
        height: 56px;
        padding: 5px 10px !important;
        max-width: 100%;
        width: auto;
        border-color: #A5A1A4 !important;
        border-radius: 8px !important;
    }
}
.btn-filterhead{
    display: inline-flex;
}


.close-floating{
    display: none;
}

.btn-white{
    background: white !important;
}



.scroller-x{
	overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 20px;
}
.scroller-x > *{
	scroll-snap-align: start;
    padding-inline: 2px;
}

@media print {
    body {
        display: none;
    }
}

.modal-img-slider{

   .image-div{
        width: 100%;
        max-width:461px;
        height: 346px;
        margin: auto;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
   }
   .content{
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        margin-top: 40px;
   }
}

.uk-modal-dialog.modal-dialog-cstm{
    max-width: 812px !important;
    width: 100% !important;
    box-shadow: 4px 4px 32px 0px #00000029;
    border-radius: 12px !important;

    .uk-position-center-left-out {
        right: 95%;
    }
    .uk-position-center-right-out {
        left: 95%;
    }
    .uk-slidenav{
        width: 32px;
        height: 32px;
        border-radius: 32px;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        svg{
            width: 10px;
        }
    }
}
#modal-slider.uk-modal{
    background: none;
}


/*--------------- homepage css ----------------------*/
.home-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 53px;
}
.brand-logo{
    width: 184px;
}
.btn-large{
        min-width: 240px;
        min-height: 60px;
        font-size: 24px !important;
        font-weight: 400 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
}

.hero-section{
    position: relative;
    background-image: url('../assets/header_bg.jpeg');
    background-size: cover;
    min-height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #00000072;
        z-index: 0;
    }
    .content{
        background: #00000072;
        color: white;
        z-index: 2;
        position: relative;
        height: 100%;
        display: grid;
        align-items: center;
        align-content: center;
        padding: 50px;
        gap: 22px;
        .text-big{
            font-family: Josefin Sans;
            font-size: 72px;
            line-height: 80px;
            font-weight: 600;
            color: white;
        }
        .text-md{
            font-family: Helvetica;
            font-size: 24px;
            font-weight: 400;
        }
        
    }
}
.relative{
    position: relative;
}
.btn-login{
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: 500 !important;
    line-height: 18px;

}
.btn-google{
    position: relative;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400 !important;
    letter-spacing: 0.25px;
    text-align: center;
    border: 1px solid #CACACA !important;
    .icon-g{
        position: absolute;
        left:10px ;

    }
}
.text-or{
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;

}

.remember-checkbox{
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.8px;
    color: #383334A6;

}

.right-funcs{
    display: flex;
    align-items: center;
    gap:36px;
}
.btn-signUp{
    font-size: 20px !important;
    font-weight: 400 !important;;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.lang-dropdown{
    color: #1D1D1B;
    
    a{
        font-family: Helvetica;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: #1D1D1B;
        text-decoration: none !important;
        &:hover{
            color: var(--primary-color);
        }
    }
    .lang-flag{
        width:30px;
    }
    .uk-dropdown-nav{
        a{
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
.register-text{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #A4A4A4;
}
.text-primary,.primary-text {
    color: var(--primary-color) !important;
}

.sign-up-form{
    .label-text{
        color: #A4A4A4;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.4px;

    }
}

/*------------------ new css batch-02 --------------*/

.custom-dialog{
    box-shadow: 4px 4px 32px 0px #00000029;
    border-radius: 12px !important;
    .close-cstm{
        --size:28px;
        background: #D9D9D9;
        width: var(--size);
        height: var(--size);
        border-radius: var(--size);
        color: white;
    }
}
.uk-modal-dialog.dialog-massUpdate{
    max-width: 710px !important;
    width: 100%;
}
.uk-modal-dialog.custom-dialog-340{
    max-width: 340px !important;
    width: 100%;
}
.uk-modal-dialog.custom-dialog-420{
    max-width: 420px !important;
    width: 100%;
}
.uk-modal-dialog.custom-dialog-540{
    max-width: 540px !important;
    width: 100%;
}
.uk-modal-dialog.custom-dialog-560{
    max-width: 560px !important;
    width: 100%;
}
.uk-modal-dialog.custom-dialog-630{
    max-width: 630px !important;
    width: 100%;
}
.uk-modal-dialog.custom-dialog-840{
    max-width: 840px !important;
    width: 100%;
}
.uk-modal-dialog.custom-dialog-1180{
    max-width: 1180px !important;
    width: 100%;
}
.custom-dialog-840{
    max-width: 840px !important;
    width: 100%;
}
.uk-modal.no-backdrop{
    background: none;
}
.modal-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.btn-flex{
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.btn-140{
    min-width: 140px;
    height: 44px;
    line-height: 44px;
}
.btn-green{
    --color:#9FB699;
    background: var(--color);
    color: white;
}
.btn-red{
    --color:#CE754C;
    background: var(--color) !important;
    color: white !important;
}

.header-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #B3B3B3;
    .heading{
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
    }
    .btn{
        font-family: Josefin Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.5px solid #B3B3B3;
        border-radius:8px !important;
    }
}
.inlineForm-cstm{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    > div{
        flex: 1;
    }
    .col-form-label{
        flex-basis: 132px;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;

    }
}

.accordian-massupdate{
    .uk-accordion-title{
        background: #F2F2F2;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        padding:15px 15px;
    }
}

.file_button_container,
.file_button_container input{
    height: 44px;
    width: 174px;
}

.file_button_container {
    background:var(--primary-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    color: white;
    border-radius: 4px;
}

.file_button_container input {
    opacity: 0;
    position: absolute;
    inset: 0;
}
.uploadfile-storage{
    background: #F2F2F2;
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 10px;
    color:#6C6B6B;
    font-size: 14px;
}
.file-uploaded{
    display: flex;
    flex-direction: column;
    gap:5px;
    a{
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        color: #6C6B6B;
        text-decoration: underline;
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 4px 0;
        .remove{
            color: #CE754C;
        }
    }
}

.custom-form-check{
    display:inline-flex;
    align-items: center;
    gap:10px;
    .form-check-input:checked{
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        --bs-form-check-bg-image: none !important;
    }
    .form-check-input {
        --_size:18px;
        width:var(--_size) ;
        height:var(--_size) ;
        border-radius: 40px !important;
        -webkit-border-radius: 40px !important;
        -moz-border-radius: 40px !important;
        -ms-border-radius: 40px !important;
        -o-border-radius: 40px !important;
        border: 1px solid #575656;
    }
    &.size-16{
        --_size:16px !important;
        .form-check-input,.size-16{
            --_size:16px !important;
            width:var(--_size) - 2;
            height:var(--_size) - 2;
        }
        .form-check-label{
            font-size: 12px;
        }
    }
    &.size-14{
        --_size:14px !important;
        .form-check-input,.size-14{
            --_size:14px !important;
            width:var(--_size);
            height:var(--_size);
        }
        .form-check-label{
            font-size: 12px;
        }
    }
}
.form-content-check{

    .form-check-label{
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;

    }
}
.uppr{
    text-transform: uppercase;
}
.bg-white{
    background: white;
}
.excelExportWrapper{
    .box{
        background: #F5F5F5;
        max-height: 370px;
        height: 100%;
       border: 1px solid #B3B3B3;
       border-radius: 8px;
       -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
       -ms-border-radius: 8px;
       -o-border-radius: 8px;
       overflow: hidden;
       .text-title{
            font-family: Helvetica;
            font-size: 14px;
            font-weight: 400;
       }
       &.min-224{
        min-height: 224px !important;
       }
    }
    .searchbox{
        width: 100%;
        height: 32px;
        background: white;
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 15px;
        input{
            width: 100%;
            border:none;
            padding: 5px 10px;
            padding-right: 30px;
            &:focus-within{
                outline: 0;
            }
        }

        .icon{
            position: absolute;
            right:15px;
            margin: auto;
        }
    }
    .scroller{
        max-height: calc(370px - 32px);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .item-wrapper{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap:10px;
        .form-check-label{
            font-family: Helvetica;
            font-size: 14px;
            font-weight: 400;
            padding-left: 15px;
            color: #575656;
        }
    }
    
}
.currentPageElds{
    .form-check-label{
        color: #000000 !important;
    }
}
.accordian-Konstnär{
    margin: 0;
    .uk-accordion-title{
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        padding: 5px 15px;
        &.text-dark{
            color: var(--text-color);
        }
        &.size-md{
            padding: 10px 15px;
            
        }
    }
    li{
        border: 1px solid #A5A1A4;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .uk-accordion-content{
        margin: 0;
        
        &.bg-light{
            background: #F5F5F5;
        }
    }
    
}
.accordian-createpdf{
    margin: 0;
    .uk-accordion-title{
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        padding: 5px 15px;
    }
    li{
        border: 1px solid #B3B3B3;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .uk-accordion-content{
        margin: 0;
        
        &.bg-light{
            background: #F5F5F5;
        }
    }
    .paper-size-btns{
        display: flex;
        flex-direction: column;
        .link{
            padding: 5px 10px;
            font-size: 14px;
            color: #575656;
            border: 1px solid #DDDCDC;
        }
    }
    
}
.text-small{
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
    color: #575656;
}
.scroller-170{
    max-height: 170px;
    overflow-y: auto;
}
.scroller-200{
    max-height: 200px;
    overflow-y: auto;
}
.uk-lightbox{
    width: 100%;
    max-width: 812px !important;
    max-height: 520px;
    background: white !important;
    margin: auto;
    box-shadow: 4px 4px 32px 0px #00000029;
    border-radius: 12px !important;
    padding: 30px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 420px;
        max-height: 420px;
    }
    .uk-lightbox-toolbar {
        padding: 10px 10px;
        background: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, .7);
        .uk-close{
            --size: 28px;
            background: #D9D9D9;
            width: var(--size);
            height: var(--size);
            border-radius: var(--size);
        }
    }
    .uk-lightbox-caption{
        background: white;
        color: var(--text-color);
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
    }
    .uk-slidenav{
        width: 32px;
        height: 32px;
        border-radius: 32px;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        svg{
            width: 10px;
        }
    }
    
}

/*------------- css batch-03 ----------------*/
.tab-with-search-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}
.searchbox-head{
    margin-left: auto;
    max-width:362px;
    width: 100%;
    position: relative;
   
    &.absolute{
        position: absolute;
        top:0;
        bottom:0;
    }
    &.right{
        right:0;
    }
}
.input-group-addon{
    background: white;
    --_size:50px;
    --_padding:2px;
    position: relative;
    width: 100%;
    border: 1.5px solid #C3C3C3;
    border-radius:8px;
    overflow: hidden;
    /* padding: var(--_padding); */
    height: var(--_size);
    display: flex;
    align-items: center;
    input{
        width: 100%;
        height: 100% ;
        border: none;
        outline: none;
        padding: 10px;
    }
    &.icon-left{
        .icon{
            left: 0;
            right: auto;
        }
        input{
            padding-left: var(--_size) ;
        }
    }
    &.icon-right{
       .icon{
        right: 0;
        left: auto;
       }
       input{
        padding-right: var(--_size) ;
        }
    }
   .icon{
        width: var(--_size);
        height: var(--_size);
        position: absolute;
        color: #C3C3C3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(var(--_size) /2);
        top:0;
        bottom:0;
   }
   .icon-close{
    width: var(--_size);
    height: var(--_size);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--_size) /3);
    top:0;
    bottom:0;
    right:30px;
    color: #C3C3C3;
    cursor: pointer;
   }
   &.absolute{
    position: absolute;
    top:0;
    bottom:0;
    }
    &.right{
        right:0;
    }
}
.custom-tab--nav{
    margin-bottom:-1px;
    .tab-nav-item{
       a{
        font-family: Josefin Sans;
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color) !important;
        min-height: 60px;
        min-width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px 8px 0 0;
        &:hover{
            background: none;
        }
       }
        &.uk-active a{
            background: white;
            color: var(--text-color) !important;
        }
    }
}
.action-fab-tools{
    display: flex;
    align-items: center;
    gap:16px;
    --_color:#40403F;
    .tool-item{
        --_size:28px;
        border: 1px solid var(--_color);
        background: none;
        width: var(--_size);
        height: var(--_size);
        border-radius: var(--_size);
        color:var(--_color);
        font-size:calc( var(--_size) / 2);
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            color:var(--_color);
        }
    }
    button.tool-item{
        color:#40403F;
    }
    &.size-24{
        .tool-item,.size-24{
            --_size:24px !important;
            width: var(--_size);
            height: var(--_size);
            font-size:calc( var(--_size) / 2);
        }
    }
    &.light-gray{
        --_color:#B3B3B3;
    }
}
.tab-content-wrapper{
    height:  100%;
    padding: 30px;
    .text-address{
        font-family: Josefin Sans;
        font-size: 16px;
        font-weight: 600;
        color: #5B5B5D99;
    }
   
    .uk-table{
       
        thead{
            th{
                font-family: Helvetica;
                font-size: 16px;
                font-weight: 700;
                color: var(--text-color);
                text-transform: capitalize;
            }
        }
        tbody{
            td{
                font-family: Helvetica;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: var(--text-color);
            }
        }

        .checkbox-th{
            width: 68px;
        }
        .checkbox-td{
            text-align: center;
        }
        .alert-th{
            width: 180px;
        }
        .decription-th{
            width: 890px;
        }
        .decription-td{
            padding-right: 100px;
        }
        .date-th{
            width: 150px;
        }
        .alertby-th{
            width: 180px;
        }


    }
}

.content-editable{
    padding: 30px;
    border: 1px solid #B3B3B3;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;

    border-radius: 8px;
    min-height: 316px;
}
.btn-outline-gray{
    background: white;
    height: 44px;
    border-color: #40403F !important;
    color: #40403F !important;
    border-radius: 4px;
}
.btn-outline-light-gray{
    background: white;
    border-color: #B3B3B3 !important;
    color: #40403F !important;
    border-radius: 4px;
}
.min-100{
    min-width: 100px;
}
.radius-8{
    border-radius: 8px !important;
}
.btn-fab{
    --_size:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px !important;
    height:var(--_size);
    width:var(--_size);
    border-radius: var(--_size) !important;
}
.fab-44{
    --_size:44px;
    height:var(--_size);
    width:var(--_size);
    border-radius: var(--_size) !important;
}
.btn-fab-32,.fab-32{
    --_size:32px;
    height:var(--_size);
    width:var(--_size);
    border-radius: var(--_size) !important;
}
.btn-fab-28,.fab-28{
    --_size:28px;
    height:var(--_size);
    width:var(--_size);
    border-radius: var(--_size) !important;
}
.scroller-165{
    overflow-y: auto;
    max-height: 165px;
}
.scroller-160{
    overflow-y: auto;
    max-height: 160px;
}
.scroller-150{
    overflow-y: auto;
    max-height: 150px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #CCCCCC; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7E7D7D; 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #707070; 
  }


  .dropdown-item-wrapper{
    background: white;
    position: relative;
    isolation: isolate;
    z-index: 999;
    .icn-addon{
        color:#A5A1A4;
        position: absolute;
        right:40px;
    }
    .title{
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        padding: 5px 15px;
        width: 100%;
        border: 1px solid #A5A1A4;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: none;
        min-height: 38px;
    }
    .title[aria-expanded="true"]{
        border: none;
    }
    .uk-dropdown.custom-dropdown-content{
        margin: 0;
        padding: 0;
        padding-top: 30px;
        top: 0 !important;
        z-index: -1;
        width: 100%;
        border: 1px solid #A5A1A4;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        &.bg-light{
            background: #F5F5F5;
        }
    } 
  }
 input.form-control,textarea.form-control,select.form-select{
    border-color: #A5A1A4 !important;
 }
 .form-control[contenteditable]{
    border-color: #A5A1A4 !important;
 }
  .items-list{
    display: flex;
    flex-direction: column;
    .icn-addon{
        font-size: 16px;
    }
    .item{
        font-size: 14px;
    }
    .item-option{
        font-size: 12px;
    }
    .item,.item-option{
        padding: 10px 12px;
        min-height: 32px;
        font-weight: 500;
        color: #575656;
        border-top: 1px solid #DDDCDC;
        display: flex;
        align-items: center;
        gap:5px;
        i{
            font-size: 16px;
        }
    }
    button.item{
        outline: none;
        padding: 10px 12px;
        font-size: 14px;
        min-height: 32px;
        font-weight: 500;
        color: #575656;
        display: flex;
        align-items: center;
        background: none;
        border:none;
        border-top: 1px solid #DDDCDC;
        &:focus-within{
            background: #DCDCDC;
        }
    }
    
}
.img-box-270{
    width: 270px;
    height: 270px;
}
.img-object-fit{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.img-box-120{
    height: 120px;
    width: 120px;
}
.starImgbox-wrapper{
    .star-bookmark{
        font-size: 20px;
    }
    a:hover{
        text-decoration: none !important;
    }
}
.primary-color{
    color: var(--primary-color);
}

.starImgGrid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.flex-full{
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}
.border-div-left{
    --color:#DDDCDC;
    border-left: 1px solid var(--color) ;
}
.border-div-right{
    --color:#DDDCDC;
    border-right: 1px solid var(--color) ;
}
.border-div-bottom{
    --color:#DDDCDC;
    border-bottom: 1px solid var(--color) ;
}
.border-div-top{
    --color:#DDDCDC;
    border-top: 1px solid var(--color) ;
}
.line{
    --color:#DDDCDC;
    background-color:var(--color) ;
    &.hr{
        width: 100%;
        height: 1px;
    }
    &.vr{
        height: 100%;
        width: 1px;
    }
}
.link{
    cursor:pointer;
}
.text-underline{
    text-decoration: underline;
}


.pop-menu{
    position: absolute;
    left: 50%;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    z-index: 9999;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px #B3B3B3;
    border-radius: 2px !important;
    &.show{
        display: block;
    }
    &.hide{
        display: none;
    }
    &::before{
        content: '';
        position: absolute;
        /* filter: drop-shadow(-0px -1px 1px #00000050); */
        right: 100%;
        top: auto;
        bottom: auto;
        transform: translateY(15px);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 10px solid #fff;
    }
    .menu-item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        color: #575656;
        padding: 3px 8px;
        font-size: 12px;
        background: #fff;
        border: none;
        outline: none;
        box-shadow: none;
        
    }
    

}
.items-list{
    .item{
        position: relative;
    }
}


.dropdown-drop{
    background: white;
    position: relative;
    /* isolation: isolate; */
    .input-group-addon{
        --_size: 38px;
        max-height: var(--_size);
        padding:0;
        input{
            padding: 5px 15px !important;
            font-size: 14px;
            font-weight: 400;
        }
        .icn-addon{
            color:#A5A1A4;
            position: absolute;
            right:30px;
        }
    }
    
    .edit{
        font-size: 16px;
        color:#A5A1A4;
    }
    .btn{
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        padding: 5px 15px;
        width: 100%;
        border: 1px solid #A5A1A4;
        border-radius: 8px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: none;
        min-height: 38px;
        padding-right: 30px;
        &:hover{
            border: 1px solid #A5A1A4;
        }
        .arrow{
            position: absolute;
            right:10px;
        }
        .icon-group{
            position: absolute;
            right:10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap:8px;
            .arrow{
                position: relative !important;
                right:0px;
            }
            img{
                width: 14px;
            }
            i,.icon{
                color:#A5A1A4;
            }
            .icn-addon{
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;
                &:hover{
                    background-color: #e9e9e9;

                }
            }
        }
    }
    .dropdown-content{
        position: absolute;
        margin: 0;
        padding: 0;
        top:37px;
        width:95%;
        left: 0;
        right:0;
        margin: auto;
        z-index: 999;
        border: 1px solid #A5A1A4;
        border-radius:0 0 8px 8px;
        background: white;
        display: none;
        &.bg-light{
            background: #F5F5F5;
        }
        &.show{
            display: block;
        }
    } 
  }
  .info-color{
    color: #E1A350;
  }
  .info{
    i{
        color: #E1A350;
    }
  }
 

  .btns-nav{
    --size:52px;
    .btn{
        width: var(--size);
        height: var(--size);
        background: white;
    }
    .circle{

    }
  }

  .loader-div{
    position: relative;
    --size:10px;
    .img-loader{
        width: var(--size);
        height: var(--size);
        position: absolute;
        inset: 0;
        margin: auto;
    }
  }
  .loader-div.size-20{
    --size:20px;
    .img-loader{
        width: var(--size) !important;
        height: var(--size) !important;
    }
  }
  .loader-div.size-30{
    --size:30px;
    .img-loader{
        width: var(--size) !important;
        height: var(--size) !important;
    }
  }
  .loader-div.size-40{
    --size:40px;
    .img-loader{
        width: var(--size) !important;
        height: var(--size) !important;
    }
  }
  .loader-div.size-50{
    --size:50px;
    .img-loader{
        width: var(--size) !important;
        height: var(--size) !important;
    }
  }
  .loader-div.size-60{
    --size:60px;
    .img-loader{
        width: var(--size) !important;
        height: var(--size) !important;
    }
  }
  .loader-div.size-70{
    --size:70px;
    .img-loader{
        width: var(--size) !important;
        height: var(--size) !important;
    }
  }
  .loader-div.size-80{
    --size:80px;
    .img-loader{
        width: var(--size) !important;
        height: var(--size) !important;
    }
  }
  .loader-div.size-90{
    --size:90px;
    .img-loader{
        width: var(--size) !important;
        height: var(--size) !important;
    }
  }
  .loader-div.size-100{
    --size:100px;
    .img-loader{
        width: var(--size) !important;
        height: var(--size) !important;
    }
  }



  .img-loader {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Ccircle cx='12' cy='2.5' r='1.5' fill='%23000' opacity='0.14'/%3E%3Ccircle cx='16.75' cy='3.77' r='1.5' fill='%23000' opacity='0.29'/%3E%3Ccircle cx='20.23' cy='7.25' r='1.5' fill='%23000' opacity='0.43'/%3E%3Ccircle cx='21.5' cy='12' r='1.5' fill='%23000' opacity='0.57'/%3E%3Ccircle cx='20.23' cy='16.75' r='1.5' fill='%23000' opacity='0.71'/%3E%3Ccircle cx='16.75' cy='20.23' r='1.5' fill='%23000' opacity='0.86'/%3E%3Ccircle cx='12' cy='21.5' r='1.5' fill='%23000'/%3E%3CanimateTransform attributeName='transform' calcMode='discrete' dur='0.75s' repeatCount='indefinite' type='rotate' values='0 12 12;30 12 12;60 12 12;90 12 12;120 12 12;150 12 12;180 12 12;210 12 12;240 12 12;270 12 12;300 12 12;330 12 12;360 12 12'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .custom-tooltip{
    --bs-tooltip-bg: white !important;
    --bs-tooltip-color:#000 !important;
    --bs-tooltip-padding-x: 3px !important;
    --bs-tooltip-padding-y: 2px !important;
    --bs-tooltip-font-size: 12px !important;
  }

  #toggleGen-BtnsGroup.setPosTop{
    position: absolute;
    padding-inline-start: 0;
    top: 80px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMDgsMzJIMTg0VjI0YTgsOCwwLDAsMC0xNiwwdjhIODhWMjRhOCw4LDAsMCwwLTE2LDB2OEg0OEExNiwxNiwwLDAsMCwzMiw0OFYyMDhhMTYsMTYsMCwwLDAsMTYsMTZIMjA4YTE2LDE2LDAsMCwwLDE2LTE2VjQ4QTE2LDE2LDAsMCwwLDIwOCwzMlpNNzIsNDh2OGE4LDgsMCwwLDAsMTYsMFY0OGg4MHY4YTgsOCwwLDAsMCwxNiwwVjQ4aDI0VjgwSDQ4VjQ4Wk0yMDgsMjA4SDQ4Vjk2SDIwOFYyMDhabS02OC03NmExMiwxMiwwLDEsMS0xMi0xMkExMiwxMiwwLDAsMSwxNDAsMTMyWm00NCwwYTEyLDEyLDAsMSwxLTEyLTEyQTEyLDEyLDAsMCwxLDE4NCwxMzJaTTk2LDE3MmExMiwxMiwwLDEsMS0xMi0xMkExMiwxMiwwLDAsMSw5NiwxNzJabTQ0LDBhMTIsMTIsMCwxLDEtMTItMTJBMTIsMTIsMCwwLDEsMTQwLDE3MlptNDQsMGExMiwxMiwwLDEsMS0xMi0xMkExMiwxMiwwLDAsMSwxODQsMTcyWiI+PC9wYXRoPjwvc3ZnPg==) !important;
}

.box-border{
    border:1px solid #A5A1A4;
}
.location-grid-wrapper{
    height: 84vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
}
.offcanvas{
    max-width:600px;
    box-shadow: 4px 4px 32px 0px #00000029;
    .close-cstm {
        position: absolute;
        right:10px;
        top:10px;
        --size: 20px;
        background: #D9D9D9;
        width: var(--size);
        height: var(--size);
        border-radius: var(--size);
        color: white;
    }
}

.table-breadcum{
    tr td{
        padding: 20px;
    }
}
.breadcrumb.cstm-breadcrumb{
    margin-bottom: 0 !important;
}
.artbox-grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 36px;
}
.artbox-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #F8F8F8;
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    padding: 30px;
    gap: 20px;
    .artImgbox{
        --size:150px;
        width: var(--size);
        height: var(--size);
        border-radius: 4px;
        overflow: hidden;
    }
    .content{
        font-size: 14px;
        color: #3D3D3D;
        text-align: center;
        /* padding: 10px; */
    }
}
.object-fit{
        width: 100%;
        height: 100%;
        object-fit: cover;
}